# Tasa de letalidad

In [2]:
import pandas as pd

## Crear dataframes, México, USA, Alemania

In [3]:
datosusa=pd.read_csv('COVID-USA.csv')
datosmexico=pd.read_csv('Datos_Mexico.csv')
datosalemania=pd.read_excel('dataGermany.xlsx')

In [15]:
datosusa

,Dia,Fecha,Casos acumulados,Defunciones,Casos diarios,Muertos por dia,Tasa letalidad
0,1,20200122,1,0,0,NaN,NaN
1,2,20200123,1,0,0,NaN,NaN
2,3,20200124,1,0,0,NaN,NaN
3,4,20200125,1,0,0,NaN,NaN
4,5,20200126,1,0,0,NaN,NaN
...,...,...,...,...,...,...,...
146,147,20200616,2127047,110695,23498,1.0,0.000043
147,148,20200617,2150932,111477,23885,1.0,0.000042
148,149,20200618,2178338,112174,27406,1.0,0.000036
149,150,20200619,2209665,112822,31327,1.0,0.000032
150,151,20200620,2241990,113452,32325,1.0,0.000031

In [16]:
datosmexico

,Dia,Contagios,Contagios por dia,Muertos,Fecha,Muertos por dia,Tasa letalidad
0,1,3,3,0,2020-02-28,NaN,NaN
1,2,4,1,0,2020-02-29,NaN,NaN
2,3,5,1,0,2020-03-01,NaN,NaN
3,4,5,0,0,2020-03-02,NaN,NaN
4,5,5,0,0,2020-03-03,NaN,NaN
...,...,...,...,...,...,...,...
110,111,159793,4930,19080,2020-06-17,1.0,0.000203
111,112,165455,5662,19747,2020-06-18,1.0,0.000177
112,113,170485,5030,20394,2020-06-19,1.0,0.000199
113,114,175202,4717,20781,2020-06-20,1.0,0.000212
114,115,180545,5343,21825,2020-06-21,1.0,0.000187

In [17]:
datosalemania

     Unnamed: 0    dateRep  cases  deaths  Tasa letalidad
0             1 2020-06-21    687       0        0.000000
1             2 2020-06-20    601      10        0.016639
2             3 2020-06-19    770      16        0.020779
3             4 2020-06-18    580      26        0.044828
4             5 2020-06-17    345      30        0.086957
..          ...        ...    ...     ...             ...
169         170 2020-01-04      0       0             NaN
170         171 2020-01-03      0       0             NaN
171         172 2020-01-02      0       0             NaN
172         173 2020-01-01      0       0             NaN
173         174 2019-12-31      0       0             NaN

[174 rows x 5 columns]

Fuente: https://covidtracking.com/data/download
Fuente: https://www.gob.mx/salud/documentos/informacion-internacional-y-nacional-sobre-nuevo-coronavirus-2019-ncov
Fuente: https://data.europa.eu/euodp/de/data/dataset/covid-19-coronavirus-data

## Para obtener esta tasa es necesario una columna de muertos por día. La agregaremos con una función

In [18]:
def agregarmuertosdia(bloquedata,j,k):
    muertosdia=[]
    #primero en lista
    for i in range (k):
        muertosdia.append(bloquedata.iloc[i,j]/bloquedata.iloc[i,j])
    #titulo para la nueva columna del dataframe
    bloquedata['Muertos por dia']=muertosdia
    return bloquedata    #tal vez necesite regresar el dataframe con datos...=agregarmuertosdia(bloquedata)

## Agregamos la tasa de letalidad 'total' con una función

In [19]:
# Agregaremos 4 parámetros, el dataframe
#i=num datos, j=columna muertos, k=columna contagiados

In [20]:
def tasageneral(bloquedata,i,j,k):
    tasa=bloquedata.iloc[i,j]/bloquedata.iloc[i,k]
    return tasa

In [21]:
#Para la tasa de letalidad por dia utilizare una funcion que actua en todas las filas, pero necesito hacer una para cada pais
#por cuestion de que el nombre de la columna de contagios por dia es distinto en cada país

# Ahora procedemos a obtener las tasas para cada país

## México

In [23]:
agregarmuertosdia(datosmexico,3,115)
datosmexico['Tasa letalidad']=datosmexico['Muertos por dia']/datosmexico['Contagios por dia']
tasamexico=tasageneral(datosmexico,114,3,1)
print(tasamexico)

0.12088399014096209

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in longlong_scalars
  """

## USA

In [32]:
agregarmuertosdia(datosusa,3,151)
datosusa['Tasa letalidad']=datosusa['Muertos por dia']/datosusa['Casos diarios ']
tasausa=tasageneral(datosusa,150,1,3)
print(tasausa)

178.05433134717765

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in longlong_scalars
  """

## Alemania

In [44]:
datosalemania['Tasa letalidad']=datosalemania['deaths']/datosalemania['cases']
muertos=0
for i in range (174):
    muertos=muertos+datosalemania.iloc[5,i]

contagiadosf=datosalemania.iloc[3,173]
tasaalemania=muertos/contagiadosf
print(tasaalemania)

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`